<h1> <%=@goal.name%> </h1>
<br>
<p><%=@goal.description%></p>
<p><%=@goal.deadline%></p> 
<br>
<h4>Goals</h4><br>
<p><%=@goal.objective1.name%></p>
<p><%=@goal.objective1.description%></p>


<p><%=@goal.objective2.name%></p>
<p><%=@goal.objective2.description%></p>

<p><%=@goal.objective3.name%></p>
<p><%=@goal.objective3.description%></p>

<p><%=@goal.objective4.name%></p>
<p><%=@goal.objective4.description%></p>
      
    
    