<h1> <%=@goal.name%> </h1>



<ul>
  <li><%=@objective[0].name%></li>
    <ul>
      <li><%=@strategy[0].routine%></li>
        <ul>
          <%@strategy[1].tactics.each do |s|%>
            <li><%=s.actions%></li>
            <%end%>
        </ul>
      <li><%=@strategy[1].routine%></li>
    </ul>
</ul>
   

    