<h1> <%=@goal.name%> </h1>
<br>
<a href="/objectives/new">Add Objective</a>
<br>
<% @goal.objectives.each do |g| %>
    <p> <%=g.name%></p>
<%end%> 


<% @plans.each do |plan|%>
    <p>Goal <%=plan.goal.name%></p>
    <p>Objective<%=plan.objective.name%></p>
    <p>Strategy <%=plan.strategy.routine%></p>
    <p>Tactic <%=plan.tactic.actions%></p>
<%end%>
  

      
      
    
    