<h1> <%=@goal.name%> </h1>

  <h3><%=@objective[0].name%></h3>
  
  <h5><%=@strategy[0].routine%></h5>
  <%@strategy[0].tactics.each do |s|%>
    <p><%=s.actions%></p>
    <%end%>
  
    <h5><%=@strategy[1].routine%></h5>
    <%@strategy[1].tactics.each do |s|%>
      <p><%=s.actions%></p>
      <%end%>
    
    