<h1>Strategies for Objectives</h1><br>

<h3> Choose Objective for Strategy</h3>
<form action="/strategies" method="Post">
<% @objective1.each do |objective| %>
  <br><label><%= objective.name %></label>
   <input type="checkbox" name="objective1[objective_1_ids][]" value="<%= objective.name%>"><br>
 <% end %> 

<% @objective2.each do |objective| %>
  <br><label><%= objective.name %></label>
   <input type="checkbox" name="objective2[objective_2_ids][]" value="<%= objective.name%>"><br>
 <% end %> 

<% @objective3.each do |objective| %>
  <br><label><%= objective.name %></label>
   <input type="checkbox" name="objective3[objective_3_ids][]" value="<%= objective.name%>"><br>
 <% end %> 

<% @objective4.each do |objective| %>
   <br><label><%= objective.name %></label>
    <input type="checkbox" name="objective4[objective_4_ids][]" value="<%= objective.name%>"><br><br>
  <% end %> 

<h3> Create Strategy</h3>

<label>Name:</label><br>
<input type="text" name="strategy1[name]">
<label>Description:</label>
<input type="textarea" name="strategy1[description]">
<label>Deadline:</label>
<input type="text" name="strategy1[deadline]"><br><br>

<label>Name:</label><br>
<input type="text" name="strategy2[name]">
<label>Description:</label>
<input type="textarea" name="strategy2[description]">
<label>Deadline:</label>
<input type="text" name="strategy2[deadline]"><br><br>

<label>Name:</label><br>
<input type="text" name="strategy3[name]">
<label>Description:</label>
<input type="textarea" name="strategy3[description]">
<label>Deadline:</label>
<input type="text" name="strategy3[deadline]"><br><br>

<label>Name:</label><br>
<input type="text" name="strategy4[name]">
<label>Description:</label>
<input type="textarea" name="strategy4[description]">
<label>Deadline:</label>
<input type="text" name="strategy4[deadline]"><br><br>

<label>Name:</label><br>
<input type="text" name="strategy5[name]">
<label>Description:</label>
<input type="textarea" name="strategy5[description]">
<label>Deadline:</label>
<input type="text" name="strategy5[deadline]"><br><br>

<input type="submit" value="Create Strategy">


