<h1>Strategy</h1><br>

<h3> Create Strategy</h3>
<form action="/strategies" method="Post">
<label>Name:</label><br>
<input type="text" name="strategy[name]"><br>
<label>Description:</label><br>
<input type="textarea" name="streategy[description]"><br>
<label>Deadline:</label><br>
<input type="text" name="strategy[deadline]"><br><br>

<h3> Choose Goal for Strategy</h3>
<% @goals.each do |goal| %>
   <br><label><%= goal.name %></label>
    <input type="checkbox" name="goal[goal_ids][]" value="<%= goal.name%>">
  <% end %> 
 <br>
 <br>

<h3> Choose Objective for Strategy</h3>

<% @objective1.each do |objective| %>
  <br><label><%= objective.name %></label>
   <input type="checkbox" name="objective1[objective_1_ids][]" value="<%= objective.name%>"><br>
 <% end %> 

<% @objective2.each do |objective| %>
  <br><label><%= objective.name %></label>
   <input type="checkbox" name="objective2[objective_2_ids][]" value="<%= objective.name%>"><br>
 <% end %> 

<% @objective3.each do |objective| %>
  <br><label><%= objective.name %></label>
   <input type="checkbox" name="objective3[objective_3_ids][]" value="<%= objective.name%>"><br>
 <% end %> 

<% @objective4.each do |objective| %>
   <br><label><%= objective.name %></label>
    <input type="checkbox" name="objective4[objective_4_ids][]" value="<%= objective.name%>"><br><br>
  <% end %> 

<input type="submit" value="Create Strategy">


