<h1><%=@strategy.name%></h1>
<p><%=@strategy.description%></p>
<p><%=@strategy.deadline%></p>
<a href="/strategies/<%= @strategy.id %>/edit">Edit</a>
<br>
<br>
<form action="/strategies/<%= @strategy.id %>" method="POST">
<input type="hidden" name="_method" value="DELETE">
<input type="submit"  id="submit " value="Delete">
<br>
<br>
<h4>Tactics</h4>
<br>
<a href="/strategies/new">Add Tactics</a><br><br>
<ul>
<% @strategy.tactics.each do |s| %>
    <li><a href="/tactics/<%=s.id%>"><%=s.name%></a></li>
    <li><%=s.description%></li><br>
    <% end %>
</ul>

<a href="/goals/<%= @strategy.goal_id %>">Return to <%=@strategy.goal.name%></a>