<h1><%= @task.name %></h1>
<p><%= @task.description %></p>
<p><%= @task.deadline %></p>
<p><%= @task.tactic.name %></p>

<a href="/tasks/<%= @task.id %>/edit"><input type="button" value="Edit"></a><br><br>
<a href="/tactics/<%= @task.tactic.id %>">Return to <%=@task.tactic.name%></a>
