<h1> <%= @tactic.name %></h1>
<h3><%= @tactic.description %> </h3>
<h3> <%= @tactic.deadline %></h3>
<a href="/tactics/<%= @tactic.id %>/edit">Edit</a>
<br>
<br>
<form action="/tactics/<%= @tactic.id %>" method="POST">
<input type="hidden" name="_method" value="DELETE">
<input type="submit"  id="submit " value="Delete">
</form>
<br>
<br>
<h3> Tasks</h3>
<a href="/tactics/new">Add Tasks</a><br><br>
<ul>
<% @tactic.tasks.each do |task| %>
    <li><a href="/tasks/<%=task.id%>"><%= task.name %></a></li>
    <li><%= task.description %></li><br>
    <% end %>
</ul>

<a href="/goals/<%= @tactic.goal_id %>">Return to <%=@tactic.goal.name%></a>



