<h1><%=@tactic.actions%></h1>
<h4><%=@tactic.deadline%></h4>
<h4><%=@tactic.plan.name%></h4>
<h4><%=@tactic.goal.name%></h4>
<h4><%=@tactic.objective.name%></h4>
<h4><%=@tactic.strategy.routine%></h4>
