<h1><%= @objective.name%></h1>
<p>Goal: <%= @objective.goal.name%></p>
<p>Description: <%= @objective.description%></p>
<p>Deadline: <%= @objective.deadline%></p>

<h3>Strategies</h3>
<br>
<a href="/objective1s/new">Add Strategies</a><br><br>

<% @objective.strategies.each do |s| %>
    <a href="/strategies/<%=s.id%>"><%=s.name%></a></br>
    <%=s.description%><br>
    <% end %><br>

<a href="/goals/<%= @objective.goal_id %>">Return to <%=@objective.goal.name%></a>